{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      {% include './sidebar.html' %}
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include './navbar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-primary" id="new-transaction-btn" data-bs-toggle="modal" data-bs-target="#newTransactionModal">+ Додати</button>
                </div>
            </div>
              <div class="row ">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Платежі</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th> Ключ </th>
                              <th> Призначення </th>
                              <th> Кошти </th>
                              <th> Дата </th>
                              <th> Статус </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for transaction in transactions %}
                            <tr>
                              <td> {{ transaction.key }} </td>
                              <td>
                                 {% if transaction.mode == "rent" %}
                                 Оренда
                                 {% elif transaction.mode == "internet" %}
                                 Інтернет
                                 {% elif transaction.mode == "gas" %}
                                 Газопостачання
                                 {% elif transaction.mode == "water" %}
                                 Водопостачання
                                 {% elif transaction.mode == "electricity" %}
                                 Електроенергія
                                 {% else %}
                                 Інше
                                 {% endif %}
                              </td>
                              <td> {{ transaction.amount }} </td>
                              <td> {{ transaction.created }} </td>
                              <td>
                                {% if transaction.status == "success" %}
                                <div class="btn btn-inverse-success btn-fw d-inline">Успішно</div>
                                {% elif transaction.status == "pending" %}
                                <div class="btn btn-inverse-warning btn-fw d-inline">Очікування</div>
                                {% else %}
                                <div class="btn btn-inverse-danger btn-fw d-inline">Невдача</div>
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>


    <!-- Modal New transaction-->
    <div class="modal fade" id="newTransactionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Новий платіж</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount">Вартість</label>
                        <input type="number" value="50" min="50" class="form-control" id="amount" name="amount" placeholder="50" required>
                      </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Призначення</label>
                        <select class="form-control" name="mode" id="exampleFormControlSelect2" required>
                          <option value="">Оберіть тип призначення</option>
                          <option value="rent">Оренда</option>
                          <option value="internet">Інтренет</option>
                          <option value="gas">Газопостачання</option>
                          <option value="water">Водопостачання</option>
                          <option value="electricity">Електроенергія</option>
                          <option value="other">Інше</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                          <textarea class="form-control" placeholder="Детальна інформація" name="description" id="exampleTextarea1" rows="8"></textarea>
                        </div>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-success">Додати</button>
                </div>
            </form>
          </div>
        </div>
      </div>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js-custom/l-transaction.js' %}"></script>
    <script src="{% static 'assets/js-custom/notifications.js'  %}" ></script>
    <!-- End custom js for this page -->
  </body>
</html>